footer button {
    border-radius: 50%;
    background-size: contain;
    background-color: transparent;
    cursor: pointer;
}

footer button.github {
    background-image: url(/img/GitHub-Mark-Light-120px-plus.png);
    background-color: black;
}

footer button.tumblr {
    background-image: url(/img/Tumblr2.png);
}

footer button.codepen {
    background-image: url(/img/Button-White-Large.png);
    background-color: black;
}

footer button:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

footer form {
    display: inline;
}

img.article-image {
    width: 100%;
    height: 50%;
    height: auto;
}

.portfolio-max-width {
    max-width: 900px;
    margin: auto;
}

.portfolio-card .mdl-card__title {
    padding-bottom: 0;
}

.mdl-card__supporting-text a {
    text-decoration: none;
}

.mdl-card__supporting-text {
    width: 90%;
    margin: auto;
}

.headline {
    padding: 5.5% 0 3.4% 0;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.headline>h2 {
    font-size: 3.6em;
    width: 96%;
    margin: auto;
    text-align: center;
}

.headline>h3 {
    width: 96%;
    margin: auto;
    text-align: center;
    padding-top: 0.4%;
}

#fixed-tab-2 .headline>h2 {
    width: 90%;
}

.cardHeadline {
    width: 87%;
    margin: auto;
    margin-top: 2%;
}

.text {
    width: 96%;
    padding-top: 1.5%;
    text-align: left;
}

#fixed-tab-2 .mdl-grid {
    padding-bottom: 5%;
}

#fixed-tab-2 .firstGrid {
    padding-bottom: 0.5%;
}

#fixed-tab-3 .headline>h2 {
    width: 77%;
    margin: auto;
    text-align: center;
}

#fixed-tab-3 .mdl-grid .underlineContact {
    padding-top: 15%;
    padding-bottom: 1.5%;
    width: 60%;
    margin: auto;
}

#fixed-tab-3 img {
    height: 200px;
}

#fixed-tab-3 .letterAnimation {
    margin: 15% 0% 15% 0;
}

#fixed-tab-3 .letterAnimation a {
    -webkit-transition: all 2.0s ease;
    transition: all 2.0s ease;
}

.letterAnimation img {
    -webkit-transition: all 2.0s ease;
    transition: all 2.0s ease;
}

.letterAnimation img:active {
    box-shadow: none;
}

.letterAnimation img:hover {
    -webkit-transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
}

#fixed-tab-3 .mdl-grid .underlineContact p {
    display: inline;
}


/* Smartphone-Breakpoint */

@media only screen and (max-width: 767px) {
    .headline>h2 {
        font-size: 1.8em;
    }
    .headlineH3 p {
        display: block;
        float: left;
        min-width: 50%;
    }
    .headlineH3 a {
        display: block;
        width: 100%;
        text-decoration: none;
        font-size: 1.6em;
    }
    .mdl-layout {
        overflow: visible;
    }
    .mdl-layout__drawer {
        position: fixed;
    }
    .mdl-layout__content {
        display: block;
        overflow: visible;
        margin-top: 64px;
    }
    .is-small-screen .mdl-layout__content {
        margin-top: 56px;
    }
    .mdl-layout__header {
        position: fixed;
        height: 50px;
    }
    .mdl-layout__tab-bar {
        display: none;
    }
    .cardHeadline {
        width: 90%;
        margin: auto;
    }
    .mdl-card__supporting-text {
        width: 90%;
        margin: auto;
    }
}


/* Tablet-Breakpoint */

@media only screen and (max-width: 1025px) {
    .headline>h2 {
        font-size: 2.3em;
        text-align: center;
    }
    .headline>h3 {
        padding-top: 8.4%;
    }
    .headline {
        padding: 5.4% 10% 5.4% 10%;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    .contactForm>div {
        width: 90%;
        margin: 0 5% 0 5%;
    }
    #fixed-tab-3 .mdl-grid .underlineContact {
        width: 100%;
        margin: auto;
    }
}


/* Query for landscape-mode */

@media only screen and (orientation: landscape) and (max-width: 1025px) {
    .headline>h2 {
        font-size: 2.1em;
        text-align: center;
    }
    .headline {
        padding: 5.4% 8% 5.4% 8%;
    }
}
